@{
    Layout = "~/Views/Shared/_layout_Empty.cshtml";
    ViewBag.Title += "Mobile/Tablet input";

    DateTime? curDate = null;
    string btnCss = curDate.HasValue ? "btn-info" : "btn-outline-info";

    //curDate = new DateTime(2021, 02, 03, 04, 05, 06);
}

<input type="1hidden" id="year" name="year" value="@(curDate.HasValue ? curDate.Value.Year.ToString() : "")" />
<input type="1hidden" id="month" name="month" value="@(curDate.HasValue ? curDate.Value.Month.ToString() : "")" />
<input type="1hidden" id="date" name="date" value="@(curDate.HasValue ? curDate.Value.Day.ToString() : "")" />
<input type="1hidden" id="hour" name="hour" value="@(curDate.HasValue ? curDate.Value.Hour.ToString() : "")" />
<input type="1hidden" id="minute" name="minute" value="@(curDate.HasValue ? curDate.Value.Minute.ToString() : "")" />
<input type="1hidden" id="dateTime" name="dateTime" value="@(curDate.HasValue ? curDate.Value.ToString("yyyy-MM-dd HH:mm") : "")" />

<div class="input-group d-flex">
    <button data-cmd="setDateTime_year" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.Year.ToString() : "year")</button>
    <button data-cmd="setDateTime_month" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("MM") : "month")</button>
    <button data-cmd="setDateTime_date" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("dd") : "day")</button>
    <button data-cmd="setDateTime_hour" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("HH") : "hour")</button>
    <button data-cmd="setDateTime_minute" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("mm") : "minute")</button>
    <button data-cmd="setDateTime" class="col btn btn-secondary"><span class="fas fa-calendar-day"></span></button>
</div>

@{
    curDate = DateTime.Now;
    curDate = new DateTime(2021, 02, 03, 04, 05, 06);
    btnCss = curDate.HasValue ? "btn-info" : "btn-outline-info";
}
<div class="input-group d-flex">
    <button data-cmd="setDateTime_year" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.Year.ToString() : "year")</button>
    <button data-cmd="setDateTime_month" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("MM") : "month")</button>
    <button data-cmd="setDateTime_date" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("dd") : "day")</button>
    <button data-cmd="setDateTime_hour" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("HH") : "hour")</button>
    <button data-cmd="setDateTime_minute" class="col btn @btnCss">@(curDate.HasValue ? curDate.Value.ToString("mm") : "minute")</button>
    <button data-cmd="setDateTime" class="col btn btn-secondary"><span class="fas fa-calendar-day"></span></button>
</div>

@section scripts {
    <script>
        $(function (e) {
            /* generic */
            pageForm.find("button").on("click", function (e) {
                $(this).blur();

                e.preventDefault();
            });
            /* generic end */

            $("[data-cmd=setDateTime]").on("click", function () {
                let dt = new Date();
                pageForm.find("#year").val(dt.getFullYear());
                pageForm.find("#month").val(dt.getMonth() + 1);
                pageForm.find("#date").val(dt.getDate());
                pageForm.find("#hour").val(dt.getHours());
                pageForm.find("#minute").val(dt.getMinutes());

                dateFromParts(pageForm.find("#dateTime"));
            });
            $("[data-cmd^='setDateTime_']").on("click", function () {
                let displayType = $(this).data("cmd").replace("setDateTime_", "");

                console.warn(displayType);
            });
        });

        function dateFromParts(elm) {
            let dt =
                pageForm.find("#year").val() + "-" +
                pageForm.find("#month").val() + "-" +
                pageForm.find("#date").val() + " " +
                pageForm.find("#hour").val() + ":" +
                pageForm.find("#minute").val();

            $("#dateTime").val(dt);
        }
    </script>
}
@section styles {
    <style>
    </style>
}