@{
    ViewBag.Title += "Menu from XML";

    var menus = Skd.Web.Menu.Init("~/App_Data/Skd.Menu.xml");
    var main = menus.First(x => x.Title == "main");
}
<div class="col-12 font-small">
    @foreach (var mi in main.Items)
    {
        <div class="d-flex">
            <div class="" style="width: 50px;">@mi.Level</div>
            <div class="" style="width: 50px;"><span class="@mi.Icon"></span></div>
            <div class="col">@mi.Title</div>
            <div class="col-auto">@mi.Url</div>
            <div class="" style="width: 50px;">@mi.Id</div>
            <div class="" style="width: 50px;">@mi.ParentId</div>
            <div class="" style="width: 50px;">Qty:@mi.Children.Count()</div>
        </div>
        foreach (var miC in mi.Children)
        {
            <div class="d-flex">
                <div class="" style="width: 50px;">@miC.Level</div>
                <div class="" style="width: 50px;"><span class="@miC.Icon"></span></div>
                <div class="col">@miC.Title</div>
                <div class="col-auto">@miC.Url</div>
                <div class="" style="width: 50px;">@miC.Id</div>
                <div class="" style="width: 50px;">@miC.ParentId</div>
                <div class="" style="width: 50px;">Qty:@miC.Children.Count()</div>
            </div>
        }
    }
</div>
@section scripts {
    <script>
        $(function (e) {
        });
    </script>
}
@section styles {
    <style>
    </style>
}