@model Work
@{
    ViewBag.Title = "Edit workday";
    ViewBag.Icon = "fa-cog";
}
<form id="frm" action="/Work/Edit_Do" method="post" novalidate>
    @Html.AntiForgeryToken()
    <input type="hidden" id="workId" name="workId" value="@Model.workId" />

    @Form.Controls.DateTime(new Form.DateTime() { Id = "startDateTime", Title = "Start Date/Time", DateTimeType = Form.DateTimeType.DateTime, Value = Model.startDateTime })
    @Form.Controls.DateTime(new Form.DateTime() { Id = "endDateTime", Title = "End Date/Time", DateTimeType = Form.DateTimeType.DateTime, Value = Model.endDateTime })
    @Form.Controls.Text(new Form.Text() { Id = "remark", Title = "Remark", Value = Model.remark })
    @Form.Controls.ButtonSubmit(new Form.ButtonSubmit() { Id = "btnSubmit", IdName = "cmd", Value = "update", Title = "Update Work" })
</form>
@section scripts {
    <script>
        $(function (e) {
            $("#frm").on("submit", function (e) {
                Skd.PageLoading("Updating workday...");
            });
        });
    </script>
}
@section styles {
    <style>
    </style>
}