<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Information Manager 202</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/driver-2.ico" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/skd")
    @Styles.Render("~/Content/website")
    <link href="~/Scripts/SkdWebHelper/Skd.Font.css" rel="stylesheet" />
    <link href="~/Scripts/SkdWebHelper/Skd-Dark.Bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/SkdWebHelper/Skd-Dark.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    <style>
        :root {
            --header-height: 50px;
            --footer-height: 50px;
        }

        header {
            min-height: var(--header-height);
        }

        footer {
            min-height: var(--footer-height);
        }

        header, footer {
            font-size: 1.5rem;
            border: 0;
            align-items: baseline !important;
            text-align: left;
        }

            header button, footer button {
                border-radius: 0 !important;
                font-size: 1.5rem !important;
            }

                header button .fas, footer button .fas {
                    font-size: 1.5rem !important;
                }

        .content {
            min-height: calc(100vh - var(--header-height) - var(--footer-height));
            max-height: calc(100vh - var(--header-height) - var(--footer-height));
            margin: var(--header-height) 0 var(--footer-height) 0;
            padding: .25rem;
            overflow-y: auto;
        }

        .dropdown-menu {
            border: 0px;
            border-radius: 0px;
            width: 100%;
            min-width: 100vw;
            position: absolute;
            top: var(--header-height) !important;
            margin: 0px;
            padding: 0 !important;
            transform: translate(0px,0px) !important;
        }

            .dropdown-menu .dropdown-item {
                font-size: 1.5rem;
            }
    </style>

    @Scripts.Render("~/bundles/modernizr")
    <script>
        var highlightRowIds = [];
        //highlightRowIds.push('34c484d7-4af7-4b7f-92fe-b29a095f2491');
        @if(TempData.ContainsKey("highlightRowIds"))
        {
            foreach(string id in TempData["highlightRowIds"].ToString().Split(';'))
            {
                <text>highlightRowIds.push('@id');</text>
            }
        }
    </script>
</head>
<body>
    <header class="d-flex fixed-top text-bg-warning">
        <button class="dropdown btn btn-success text-bg-success">
            <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="fas fa-@ViewBag.Icon"></span></a>
            <ul class="dropdown-menu text-bg-secondary" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="/Daily/Fast">Entries</a></li>
                <li><a class="dropdown-item" href="/Daily/FastLog">Log</a></li>
                <li><a class="dropdown-item" href="/">Dashboard</a></li>
            </ul>
        </button>
        <div class="col px-2 text-truncate">@ViewBag.Title</div>
        <button id="top_btn_refresh" class="col-auto btn btn-dark"><span class="fas fa-refresh"></span> Refresh</button>
    </header>

    <div class="content">
        <form id="pageForm" method="post" novalidate>
            @RenderBody()
        </form>
    </div>
    <footer class="d-flex fixed-bottom text-bg-warning">
        @{
            var cigPackage = -1;
            DateTime lastCig;
            using (var db = new Db())
            {
                cigPackage = db.Database.SqlQuery<int>("SELECT COUNT(1) FROM Daily WHERE typeId = 9503 AND registerDateTime >= (SELECT MAX(registerDateTime) FROM Daily WHERE typeId = 9503 AND optionId = 25 AND createUserId = {0}) AND createUserId = {1}", Common.User.userId, Common.User.userId).First();
                lastCig = db.Database.SqlQuery<DateTime>("SELECT MAX(registerDateTime) FROM Daily WHERE typeId = 9503 AND createUserId = {0}", Common.User.userId).First();
            }
        }
        <div class="col px-2 text-truncate" style="padding-top: 2px;">@Common.User.CompleteName()</div>
        <button class="col-auto btn btn-secondary"><span class="fas fa-box-open"></span> @(20 - cigPackage) - </button>
        <button class="col-auto btn btn-warning"><span class="fas fa-smoking"></span> @lastCig.ToHM()</button>
        <button class="col-auto btn btn-danger"><span class="fas fa-sun"></span> @Common.User.Stat.RetrieveAsOptionGroup(9503).qtyMorning</button>
    </footer>

    <right skd-sidebar loading-message="Loading content..." style="display: none">Loading content...</right>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/skd")
    @Scripts.Render("~/bundles/website")
    <script>
        /* After user scripts */
        var pageForm;

        $(function () {
            pageForm = $("#pageForm");

            $("header #top_btn_refresh").click(function (e) {
                Skd.PageLoading("Refreshing page...");
                location.reload();
            });

            $(".dropdown-item").on("click", function (e) { Skd.PageLoading(); });
        });
    </script>
    <!-- scripts -->
    <!-- section: scripts -->
    @RenderSection("scripts", required: false)
    <!-- section: scripts END -->
    <script>
        /* After user scripts */
        $(function () {
            @Message.JavaScriptLines()
            Skd.ContentLoadingHide();
        });
    </script>
</body>
</html>