@using System.Dynamic;
@{
    Layout = "~/Views/Shared/_Layout_Empty.cshtml";
    ViewBag.Title = "Daily Fast #2";
    ViewBag.Icon = "seedling";

    List<DailyType> dailyTypes = new List<DailyType>();
    using (var ctx = new Db())
    {
        int[] types = new[] { 9503, 1500, 2000, 9007, 9507 };
        dailyTypes = ctx.DailyType
            .Include("DailyTypeOption")
            .Include("DailyTypeExtra")
            .Where(x => types.Contains(x.typeId))
            .OrderBy(x => x.internalTitle)
            .ToList();
    }
}
<input type="hidden" id="typeId" name="typeId" />
<input type="hidden" id="optionId" name="optionId" />
<input type="hidden" id="rUrl" name="rUrl" value="/Daily/Fast2" />
@Form.Controls.Text(new Form.Text()
{
    Id = "remark",
    Title = "Remark",
    Required = false,
    ControlOnly = true,
    ControllerStyle = "font-size: 4rem"
})
@Form.Controls.DateTime(new Form.DateTime()
{
    Id = "registerDateTime",
    Title = "Register Date/Time",
    LabelText = "Register Date/Time",
    Required = false,
    Value = DateTime.Now,
    ControlOnly = true
})
<div id="optionButtons" class="d-flex flex-row flex-wrap justify-content-evenly mt-2">
    @foreach (var type in dailyTypes)
    {
        <div class="
             col-12 px-0
             col-lg-6">
            <div class="btn-action btn-group w-100" data-type-id="@type.typeId" data-default-id="@(type.defaultOptionId.HasValue ? type.defaultOptionId.Value : 0)">
                @*<button class="btn @(type.defaultOptionId.HasValue ? "btn-warning" : "btn-dark") d-flex">
                        <div class="col-auto">@type.Icon(true)</div>
                        <div class="col">
                            @type.internalTitle@(type.defaultOptionId.HasValue ? ", " + type.DailyTypeOption.Single(x => x.optionId == type.defaultOptionId).internalTitle : "")
                        </div>
                        @if (type.defaultOptionId.HasValue)
                        {
                            <div class="col-auto"><span class="fas fa-bolt text-danger"></span></div>
                        }
                    </button>*@
                @*<button class="btn btn-primary ms-1">@type.Icon(true)</button>*@
                @if (type.DailyTypeOption.Count > 0)
                {
                    if (type.defaultOptionId.HasValue)
                    {
                        <button class="btn btn-primary w-100 d-flex align-items-center justify-content-start">@type.Icon(true)&nbsp;@type.internalTitle</button>
                        <button class="btn btn-warning w-100 d-flex align-items-center justify-content-end">@type.DailyTypeOption.Single(x => x.optionId == type.defaultOptionId).internalTitle&nbsp;<span class="fas fa-bolt"></span></button>
                    }
                    else
                    {
                        <button class="btn btn-primary w-100 d-flex align-items-center">@type.Icon(true)&nbsp;@type.internalTitle</button>
                    }
                }
                else
                {
                    <button class="btn btn-warning w-100 d-flex align-items-center">@type.Icon(true)&nbsp;@type.internalTitle</button>
                }
            </div>
        </div>
    }
</div>
<style>
    .btn-action button.w-100 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .btn-action .btn-primary {
        text-align: left;
    }
</style>
@section scripts {
    <script>
        $(function () {
            pageForm.attr("action", "/Daily/Daily_AddEdit");
            $(".dropdown-menu li:nth-child(1)").addClass("text-bg-success"); // dummy active menu

            $("#remark").on("keyup", function (e) {
                pageForm.validate();
            });

            $(".btn-action button").on("click tap", function (e) {
                e.preventDefault();

                let elm = $(this).closest(".btn-group");
                let typeId = elm.data("type-id");
                let defaultId = elm.data("default-id");
                let btn = $(this);
                let action = btn.hasClass("btn-warning") ? "quick" : "option";
                btn.blur();
                console.log(elm.attr("data-type-id") + ", " + action);

                //$("#typeId").val($(this).attr("id").split("_")[1]);
                //$("#optionId").val($(this).attr("id").split("_")[2]);
                //$("#remark").attr("required", $(this).hasAttr("required"));
                //if ($(this).hasAttr("required")) {
                //} else {
                //    $("#remark").removeClass("is-invalid");
                //}

                //pageForm.validate();
                //pageForm.submit();
            });

            pageForm.submit(function (e) {
                if (pageForm.valid()) {
                    if (skd_debug) {
                        skd_form_debug(pageForm);
                    } else {
                        Skd.PageLoading("Adding Entry...", 0);
                        return true;
                    }
                } else {
                    $("#typeId, #optionId").val("");
                }

                return false;
            });
            Skd.SetEvents();
        });
    </script>
}
@section styles {
    <style>
        :root {
            --button-spacing: .25rem;
        }

        .skd-form-row label, .skd-form-row .form-control, .skd-form-row .button, .skd-form-row .fas {
            font-size: 3rem;
        }

        .btn-action {
        }

            .btn-action button {
                margin-bottom: .5rem;
                font-size: 2rem;
            }

            .btn-action > button:first-child {
                flex-grow: 1;
                text-align: left;
            }

            .btn-action button .fas {
                font-size: 4rem;
            }

            .btn-action .d-flex > div {
                padding-right: 0;
            }

            .btn-action .d-flex .col {
                line-height: 1;
                align-self: center;
            }

            .btn-action .d-flex > :first-child {
                padding-left: 0;
            }

            .btn-action .dropdown-toggle {
                font-size: 3rem;
            }

        /* dummy */
        #registerDateTime_container {
            margin-top: .5rem;
        }
    </style>
}